.vs
bin
obj
*.user
*.bak
/src/Xecrets.Cli/TestCli/win-x64/.wget-hsts
/src/Xecrets.Cli/TestCli/win-x64/thfg(1)(1).mp4
/src/Xecrets.Cli/TestCli/win-x64/thfg(1)(2).mp4
/src/Xecrets.Cli/TestCli/win-x64/thfg(1).axx
/src/Xecrets.Cli/TestCli/win-x64/thfg.mp4
/src/Xecrets.Cli/TestCli/Photos/Hejhej.txt
/src/Xecrets.Cli/TestCli/win-x64
/src/Xecrets.Cli/TestCli/xecrets@axantum.com-key-pair.axx
/src/Xecrets.Cli/TestCli/test.mp4
/src/Xecrets.Cli/TestCli/test.mp4.axx
.DS_Store
