.vs
bin
obj
*.user
*.bak
/src/Xecrets.File.Cli/TestCli/win-x64/.wget-hsts
/src/Xecrets.File.Cli/TestCli/win-x64/thfg(1)(1).mp4
/src/Xecrets.File.Cli/TestCli/win-x64/thfg(1)(2).mp4
/src/Xecrets.File.Cli/TestCli/win-x64/thfg(1).axx
/src/Xecrets.File.Cli/TestCli/win-x64/thfg.mp4
